/TypeScript/task_0/node_modules/
/TypeScript/task_0/.eslintrc.js
/TypeScript/task_0/package-lock.json
/TypeScript/task_0/package.json
/TypeScript/task_0/tsconfig.json
/TypeScript/task_0/webpack.config.js
/TypeScript/task_1/node_modules/
/TypeScript/task_1/package-lock.json
/TypeScript/task_1/package.json
/TypeScript/task_1/tsconfig.json
/TypeScript/task_1/webpack.config.js
/TypeScript/task_2/node_modules/
/TypeScript/task_2/.eslintrc.js
/TypeScript/task_2/package.json
/TypeScript/task_2/tsconfig.json
/TypeScript/task_2/webpack.config.js
/TypeScript/task_3/node_modules/
/TypeScript/task_3/.eslintrc.js
/TypeScript/task_3/package.json
/TypeScript/task_3/tsconfig.json
/TypeScript/task_3/webpack.config.js
/TypeScript/task_4/node_modules/
/TypeScript/task_4/.eslintrc.js
/TypeScript/task_4/package.json
/TypeScript/task_4/tsconfig.json
/TypeScript/task_4/webpack.config.js
/TypeScript/task_5/node_modules/
/TypeScript/task_5/.eslintrc.js
/TypeScript/task_5/package.json
/TypeScript/task_5/tsconfig.json
/TypeScript/task_5/webpack.config.js
/tsconfig.json
